<div class="container">

    <h1>Buscador de vuelos</h1>

    <hr>

    <form action="/resultados" method="GET">

        Origen: <input type="text" placeholder="Cuidad de origen" name="from_city">

        <br><br>

        Destino: <input type="text" placeholder="Cuidad de destino" name="to_city">

        <br><br>

        Fecha: <input type="date" name="departure">

        <br><br>

        Clase:
        <select name="class">
            <option value="tourist">Turista</option>
            <option value="business">Preferente</option>
        </select>

        <br><br>

        <input type="submit" value="Enviar">

    </form>


</div>