<div class="container">

    <h1>Resultados de búsqueda</h1>
    <p>Estás buscando un vuelo de {{from_city}} a {{to_city}} el día {{departure}} en clase {{class}}</p>

    <hr>

    <p>(Aquí irían los resultados, mira la terminal y</p>

</div>