<div class="container">

    <h1>Registro de usuario</h1>

    <hr>

    <form action="/registro" method="POST">

        Email: <input type="email" name="user_email">

        <br><br>

        Contraseña <input type="password" name="user_password">

        <br><br>

        <input type="submit" value="Registrarme">

    </form>

</div>